/* LIGHT/DARK MODE */

.App {
  color: var(--text-primary);
  background-color: var(--background);
  /* padding-left: 20px;
  padding-right: 20px; */
  overflow-x: hidden;
  transition: all 0.5s;
  width: 100%;
}
.theme--button {
  color: var(--text-primary);
  background-color: var(--background);
  border: 1px var(--text-primary) solid;
  transition: all 0.5s;
  cursor: pointer;
  border-radius: 0.5rem;
  height: fit-content;
  padding: 0.6rem;
  font-family: "Lato", sans-serif;
}

/* LINKS */
a {
  text-decoration: none;
  color: var(--text-primary);
}

a:hover {
  color: var(--hover-color);
  cursor: pointer;
}

/* UTILITIES */

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  margin: 0 auto;
  padding: 2rem;
}

/* .container > * {
  width: 100%;
} */
.flex {
  display: flex;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.flex-column {
  display: flex;
  flex-direction: column;
}

li {
  text-decoration: none;
}

.title {
  font-size: 3.2rem;
  text-transform: uppercase;
}
.paragraph {
  font-size: 1.6rem;
}
/* NAV */
.Navbar {
  justify-content: space-between;
  border-bottom: #333 solid 1px;
  margin: 0;
  padding: 0;
  align-items: center;
  width: 100%;
  background-color: var(--background);
  /* position: fixed; */
  z-index: 100;
  height: auto;
}

.Navbar__logo {
  margin: 0;
  font-size: 1.8rem;
  align-items: center;
}

.Navbar__logo img {
  height: 2.6rem;
  top: 1.5rem;
  margin-left: 1rem;
}
.Navbar__logo > h1 {
  font-size: 2rem;
  margin-left: 3rem;
}
.Navbar__list {
  margin: 0;
  list-style: none;
  align-items: center;
}

.Navbar__list li {
  font-size: 1.6rem;
  margin-left: 4rem;
}
.Navbar > button {
  margin-right: 1rem;
}
/* HERO */
.Hero {
  /* /* margin-left: 15%; * */
  padding-top: 10%;
  height: 90vh;
  justify-content: center;
}
.Hero__intro {
  font-size: 6.2rem;
}
.Hero__intro > span {
  font-size: 5.6rem;
  color: var(--hover-color);
}

.arrow-down {
  font-size: 7rem;
  width: auto;
  text-align: center;
  animation: pulse infinite linear 3s;
  cursor: pointer;
}

@keyframes pulse {
  0% {
    font-size: 7rem;
  }
  50% {
    font-size: 8rem;
  }
  100% {
    font-size: 7rem;
  }
}
/* Arrow 1 */

/* position: absolute;
width: 145px;
height: 0px;
border: 3px solid #000000;
box-sizing: border-box;
transform: rotate(90deg); */

/* ABOUT */
.About {
  height: auto;
  align-items: flex-start;
}

.About > h2 {
  font-size: 2rem;
}

/* WORKS */
.Works {
  height: auto;
}

.Works__selected {
  flex-wrap: wrap;
  /* gap: 3rem; */
}
.selected--item {
  height: 30rem;
  width: 50rem;
  border: solid 1px var(--text-primary);
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 0.3s linear;
  /* position: relative; */
  color: #eee;
  margin: 2rem;
  background-size: cover;
  background-repeat: no-repeat;
}
.selected--item:hover {
  box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 5px 0px 30px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 5px 0px 30px rgba(0, 0, 0, 0.5);
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

/* .selected--item:active {
  height: 31rem;
  width: 52vw;
} */
.selected--item > image {
  position: absolute;
  height: auto;
  width: 100%;
}

.about--item {
  margin: 5rem;
  text-align: left;
}
.about--item > h2 {
  font-size: 3.2rem;
}
.about--item > p {
  font-size: 1.6rem;
}

/* CONTACT */
.Contact {
  height: 80vh;
  align-items: center;
  justify-content: space-between;
}
.Contact__title {
  font-size: 7.2rem;
}
.Contact__button {
  background-color: var(--hover-color);
  color: var(--text-primary);
  font-size: 2.5rem;
  border-radius: 50%;
  height: 15rem;
  width: 15rem;
  text-align: center;
  padding: 5rem;
  text-transform: uppercase;
  color: #eee;
  transition: 0.3s ease-in-out;
}
.Contact__button:hover {
  color: #eee;
  box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 5px 0px 30px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 5px 0px 30px rgba(0, 0, 0, 0.5);
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

/* FOOTER */
.Footer {
  align-items: center;
  justify-content: space-between;
  border-top: #333 solid 1px;
  padding: 20px;
}
.Footer > h1 {
  font-weight: 500;
  word-spacing: 2.2px;
}

.Footer__social > a {
  margin-left: 2rem;
  font-size: 1.2rem;
}

/* Add responsiveness - on screens less than 500px, make the navigation links appear on top of each other, instead of next to each other */
@media screen and (max-width: 500px) {
  .Navbar a {
    float: none;
    display: block;
    width: 100%;
    text-align: left; /* If you want the text to be left-aligned on small screens */
  }
}
