/* FOOTER */
.Footer {
  align-items: center;
  justify-content: space-between;
  border-top: #333 solid 1px;
  padding: 20px;
}
.Footer > h1 {
  font-weight: 500;
  word-spacing: 2.2px;
}

.Footer__social > a {
  margin-left: 3rem;
  font-size: 2rem;
}
