:root {
  font-size: 62.5%;
  --background: #eee;
  --text-primary: #333;
  --text-secondary: rgb(182, 73, 61);
  --accent: salmon;
  --hover-color: #fa8072;
}
[data-theme="dark"] {
  --background: #222;
  --text-primary: #eee;
  --text-secondary: grey;
  --accent: salmon;
}

body {
  margin: 0;
  font-family: "Lato", sans-serif;
  font-weight: regular;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}
